@charset 'utf-8';

$font-stack: 'Noto Sans KR', sans-serif;
$font-color: #333;

$primary-color: #EB5900;
$primary-color-dark: #da5300;
$primary-color-deepdark: #c04a00;

$btn-blue: #337ab7;
$btn-blue-dark: #2e6da4;
$btn-green: #5cb85c;
$btn-green-dark: #4cae4c;
$btn-aqua: #5bc0de;
$btn-aqua-dark: #46b8da;
$btn-orange: #f0ad4e;
$btn-orange-dark: #eea236;
$btn-red: #d9534f;
$btn-red-dark: #d43f3a;
$btn-gray: gray;

$fg-gray: #828282;