@charset "utf-8";

@import './reset';

a {
    color: inherit;
    text-decoration: none;
}
// a,
// a:active,
// a:link {
//     text-decoration: none;
// }
input {
    font-family: $font-stack;
}
input[type=password] {
    font-family: Arial, sans-serif;
}
figure {
    position: relative;
}
img {
    max-width: 100%;
}
legend {
    @include sr-only;
}
label[required]:after {
    color: #cb2431;
    content: "*";
    padding-left: 5px;
}
label > * {
    @include va;
}
.cf,
.row {
    @include cf;
}
.group {
    position: relative;
    @include clearfix;
}
.group {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.group {
    width: 1200px;
}
.group.pd {
    // width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
}
@include screen-max(768) {
    .group.pd {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.ap-no {
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}
.form-input {
    @include form-base;
    &:focus {
        outline: none;
        border-color: $primary-color;
    }
}
.form-select {
    @include form-base;
}
// button 
@mixin btn-outline-color($c: null) {
    background-color: #fff;
    border-color: $c;
    color: $c;
    &:hover {
        background-color: darken(#fff, 5%);
        border-color: darken($c, 15%);
    }
    & .badge {
        background-color: $c;
        color: #fff;
    }
}
@mixin btn-color($c: null) {
    background-color: $c;
    border-color: darken($c, 10%);
    &:not(.outline):hover {
        background-color: darken($c, 5%);
        border-color: darken($c, 15%);
    }
    &:not(.btn-default):not(.outline) .badge {
        background-color: #fff;
        color: $c;
    }
    &.btn-default .badge {
        background-color: darken($c, 50%);
        color: #fff;
    }
    &.outline {
        background-color: #fff;
        border-color: $c;
        color: $c;
        &:hover {
            background-color: darken(#fff, 5%);
            border-color: darken($c, 15%);
        }
        .badge {
            background-color: $c;
            color: #fff;    
        }
    }
}
@mixin btn-size($pd: null, $fz: null, $ht: null) {
    padding: $pd;
    font-size: $fz;
    height: $ht;
}

.btn {
    @include btn-base;
    color: #fff;
    &.btn-default {
        @include btn-color(#fff);
        color: #333;
    }
    &.btn-primary {
        @include btn-color($primary-color);
	}
    &.btn-blue {
		@include btn-color($btn-blue);
	}
    &.btn-green {
        @include btn-color($btn-green);
	}
    &.btn-aqua {
        @include btn-color($btn-aqua);
	}
    &.btn-orange {
        @include btn-color($btn-orange);
	}
    &.btn-red {
        @include btn-color($btn-red);
    }
    &.btn-gray {
        @include btn-color($btn-gray);
    }
    &.no-bd {
        &,
        &:hover {
            border-color: transparent;
        }
    }
    .btn-group-lg &,
    &.lg {
        @include btn-size(10px 16px, 18px);
    }
    .btn-group-md &,
    &.md {
        @include btn-size(6px 12px, 14px);
    }
    .btn-group-sm &,
    &.sm {
        @include btn-size(5px 10px, 12px);
        line-height: 1.5;
    }
    .btn-group-xs &,
    &.xs {
        @include btn-size(1px 10px, 12px, 30px);
        line-height: 1.5;
    }
}