@charset 'utf-8';

.sec.post {
	padding: 5px 10px;

	.post-list {
		>li {
			padding: 2.5px 0;
			line-height: 1.5;

			$pl : 26px;
			.row-tit {
				position: relative;
				padding-left: $pl;
				.post-no {
					@include pos($type: absolute, $left: 0);
				}
				.domain {
					margin-left: 5px;
				}
			}

			.domain,
			.row-cmt {
				font-size: 14px;
				color: $fg-gray;
			}

			.row-cmt {
				padding-left: $pl;
			}
		}
	}

	.btn-cover {
		margin-top: 15px;
		text-align: center;
		.page-count {
			@include va;
			margin: 0px 10px;
			top: -1px;
			font-size: 14px;
		}
		button {
			width: auto;
			border-radius: 0;
			// background-color: #fff;
			// border: 1px solid $btn-gray;
			// color: $btn-gray;
		}
	}
}